:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
  "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
  "Source Han Sans CN", sans-serif;
  }
  .main-container {
  overflow: hidden;
  }
  .main-container,
  .main-container * {
  box-sizing: border-box;
  }
  input,
  select,
  textarea,
  button {
  outline: 0;
  }
  .main-container {
  position: relative;
  width: 1440px;
  height: 832px;
  margin: 0 auto;
  overflow: hidden;
  }
  .group {
  position: relative;
  width: 1569px;
  height: 640px;
  margin: 96px 0 0 -28px;
  z-index: 1;
  overflow: visible auto;
  }
  .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 16px;
  position: relative;
  width: 737px;
  margin: 12px 0 0 156px;
  z-index: 2;
  }
  .text {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 49px;
  color: #66885e;
  font-family: Noto Sans, var(--default-font-family);
  font-size: 41px;
  font-weight: 700;
  line-height: 49px;
  text-align: left;
  white-space: nowrap;
  z-index: 3;
  }
  .text-2 {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 35px;
  color: #181919;
  font-family: Noto Sans, var(--default-font-family);
  font-size: 29px;
  font-weight: 600;
  line-height: 34.8px;
  text-align: left;
  white-space: nowrap;
  z-index: 4;
  }
  .group-2 {
  position: absolute;
  height: 488px;
  top: 152px;
  right: -655px;
  left: 156px;
  z-index: 25;
  }
  .wrapper-2 {
  position: absolute;
  width: 753px;
  height: 480px;
  top: 0;
  right: 1315px;
  z-index: 14;
  }
  .section {
  position: absolute;
  width: 95.62%;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 19;
  }
  .group-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
  width: 480px;
  margin: 303px 0 0 0;
  padding: 24px 24px 24px 24px;
  background: #ffffff;
  z-index: 19;
  overflow: hidden;
  border-radius: 0 8px 0 8px;
  }
  .box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 24px;
  position: relative;
  width: 432px;
  z-index: 20;
  }
  .wrapper-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 24px;
  position: relative;
  width: 432px;
  z-index: 21;
  }
  .wrapper-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 432px;
  z-index: 22;
  }
  .text-3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 432px;
  height: 63px;
  color: #40464d;
  font-family: Noto Sans, var(--default-font-family);
  font-size: 26px;
  font-weight: 600;
  line-height: 31.2px;
  text-align: left;
  z-index: 23;
  }
  .text-4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 432px;
  height: 58px;
  color: #40464d;
  font-family: Noto Sans, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  text-overflow: ellipsis;
  z-index: 24;
  overflow: hidden;
  }
  .pic {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./assets/images/2b5e627e-1e4f-4884-9b2d-bebb07d2f498.png)
  no-repeat center;
  background-size: 100% 100%;
  z-index: 15;
  border-radius: 8px;
  }
  .section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: absolute;
  width: 17px;
  height: 102px;
  top: 50%;
  left: 50%;
  transform: translate(2117.65%, -234.8%);
  z-index: 16;
  }
  .text-5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 17px;
  height: 86px;
  color: #40464d;
  font-family: Noto Sans, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
  text-align: left;
  text-transform: uppercase;
  transform: rotate(-90deg);
  z-index: 17;
  }
  .pic-2 {
  flex-shrink: 0;
  position: relative;
  width: 8px;
  height: 8px;
  background: url(./assets/images/e6c7b843-210c-4098-93a9-4aa405124c1b.png)
  no-repeat center;
  background-size: cover;
  z-index: 18;
  border-radius: 50%;
  }
  .group-4 {
  position: absolute;
  width: 627px;
  height: 400.213px;
  top: 40px;
  left: 1441px;
  z-index: 25;
  }
  .section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 6.67px;
  position: absolute;
  width: 17px;
  height: 97.34px;
  top: 50%;
  left: 50%;
  transform: translate(1751.94%, -212.86%);
  z-index: 27;
  }
  .text-6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 17px;
  height: 84px;
  color: #40464d;
  font-family: Noto Sans, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
  text-align: left;
  text-transform: uppercase;
  transform: rotate(-90deg);
  z-index: 28;
  }
  .img {
  flex-shrink: 0;
  position: relative;
  width: 6.67px;
  height: 6.67px;
  background: url(./assets/images/40dcf5eb-74f9-4251-a4aa-3b80d0fc39a7.png)
  no-repeat center;
  background-size: cover;
  z-index: 29;
  }
  .pic-3 {
  position: absolute;
  width: 95.61%;
  height: 99.86%;
  top: 0;
  left: 0;
  background: url(./assets/images/6794ed91-6760-4476-bab3-9a2e701ceb57.png)
  no-repeat center;
  background-size: 100% 100%;
  z-index: 26;
  border-radius: 6.67px;
  }
  .box-2 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 24px;
  position: absolute;
  width: 139.5px;
  height: 32px;
  top: 456px;
  left: 815px;
  z-index: 5;
  }
  .img-2 {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(./assets/images/d29a3575-4628-41dc-9b0f-523371d1071b.png)
  no-repeat center;
  background-size: cover;
  z-index: 6;
  overflow: hidden;
  border-radius: 32px;
  box-sizing: content-box;
  }
  .section-4 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 43.5px;
  z-index: 7;
  }
  .text-7 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 15px;
  height: 32px;
  color: #313232;
  font-family: Noto Sans, var(--default-font-family);
  font-size: 26px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  white-space: nowrap;
  z-index: 8;
  }
  .group-5 {
  flex-shrink: 0;
  position: relative;
  width: 0.5px;
  height: 32px;
  background: #313232;
  z-index: 9;
  }
  .text-8 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 12px;
  height: 24px;
  color: #313232;
  font-family: Noto Sans, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  z-index: 10;
  }
  .pic-4 {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(./assets/images/e55fee8c-8a87-4503-960a-7c646637f4e8.png)
  no-repeat center;
  background-size: cover;
  z-index: 11;
  overflow: hidden;
  border-radius: 32px;
  box-sizing: content-box;
  }
  .box-3 {
  position: absolute;
  width: 627.975px;
  height: 400px;
  top: 192px;
  right: -27.975px;
  z-index: 12;
  }
  .img-3 {
  position: relative;
  width: 600.418px;
  height: 400px;
  margin: 0 0 0 0;
  background: url(./assets/images/a0941b54-fec8-4517-95b7-9ba671df86f0.png)
  no-repeat center;
  background-size: 100% 100%;
  z-index: 13;
  border-radius: 6.681px;
  }
  .group-6 {
  position: absolute;
  width: 1440px;
  height: 832px;
  top: 0;
  left: 0;
  background: #eaf4e7;
  }